<dialog id="cartModal" class="p-relative h-fullvh w-500px p-self-end a-self-start rounded-6 pa-10" i-sm="w-100vw" i-md="w-60vw" i-lg="w-50vw">
    <button class="light-btn rounded-full p-absolute top-10 right-10" id="cartClose"  hover="bg-c-#D6EFFA">
        <img src="{{ url_for('static', filename='img/exit.svg') }}" alt="" class="w-4 p-self-center mt-2">
    </button>
    <div class="pt-20 d-flex flex-col j-content-between gap-10">
        <h2 class="mb-0">Orders</h2>
        <article class="border-2 border-c-grey3 rounded-md">
                <div class="px-4 py-2 border-b-2 border-c-grey3 border-s-dashed">
                    <h3> Restaurant Name </h3>
                </div>
                <div id="cartItems" class="px-4 py-2 d-flex flex-col gap-2">
                </div>
        </article>
        <button>Order now</button>
    </div>
</dialog>