<div id="u{{ user['user_pk'] }}" class="d-flex px-2 a-content-center p-content-center bg-c-charocoal:-9" odd="bg-c-charocoal:-5">
    <div class="py-1 pl-4 flex-1 text-c-body:-6 text-sm a-content-center">
        {{ user["user_name"] }}
    </div>
    <div class="py-1 pl-6 flex-1 text-c-body:-6 text-sm a-content-center">
        {{ user["user_email"] }}
    </div>
    <div class="py-1 pl-6 flex-1 text-c-body:-6 text-sm a-content-center">
        {{ user["role_name"] }}
    </div>
    <div class="py-1 pl-6 flex-1 d-flex p-content-end">
        {% if user["user_blocked_at"] == 0 %}
            {% include "___btn_block_user.html" %}
        {% else %}
            {% include "___btn_unblock_user.html" %}
        {% endif %}
    </div>
</div>