
{% if 'customer' in session['user'].get('roles', []) or 'partner' in session['user'].get('roles', []) or 'restaurant' in session['user'].get('roles', []) %}
    <!-- Tabs for all users expcept admin-->
    <section class="d-flex j-content-start flex-row a-items-center gap-10 border-b-2 border-c-grey3 mb-10" i-sm="flex-col a-items-start border-b-0 gap-2">
            <a href="{{ url_for('view_profile', tab='profile') }}" class="tab_secondary-btn {% if active_tab == 'profile' %}active_secondary{% endif %}"
                i-sm="w-full border-b-2 border-c-grey3"  data-tab="profile"> 
                <p>Profile information</p>
            </a>
            <a href="{{ url_for('view_profile', tab='edit') }}" class="tab_secondary-btn {% if active_tab == 'edit' %}active_secondary{% endif %}"
                i-sm="w-full border-b-2 border-c-grey3"  data-tab="edit"> 
                <p>Edit profile</p>
            </a>
            <a href="{{ url_for('view_profile', tab='delete') }}" class="tab_secondary-btn {% if active_tab == 'delete' %}active_secondary{% endif %}"
                i-sm="w-full border-b-2 border-c-grey3"  data-tab="delete"> 
                <p>Delete profile</p>
            </a>
    </section>  
{% endif %}