<section>
    <h1>Users</h1>
    {% include "__admin_user_tabs.html" %}
    <div class="rounded-sm overflow-hidden">
        <div class="d-flex flex-col">
            <div
                class="d-flex py-4 a-content-center p-content-center bg-c-grey3 text-c-black">
                <div class="pl-6 flex-1 text-w-semibold">Name</div>
                <div class="pl-4 flex-1 text-w-semibold">Email</div>
                <div class="pl-4 flex-1 text-w-semibold" i-sm="d-none">Role</div>
                <div class="px-4 flex-1 text-w-medium"></div>
            </div>
            <div id="users">
                {% for user in users %}
                    {% if user["user_deleted_at"] == 0 %}
                        {% if user["role_name"] != "admin" %}
                            {% if active_secondary_tab == 'Customers' and user["role_name"] == "customer" %}
                                {% include "___user.html" %}

                            {% elif active_secondary_tab == 'Partners' and user["role_name"] == "partner" %}
                                {% include "___user.html" %}

                            {% elif active_secondary_tab == 'Restaurants' and user["role_name"] == "restaurant" %}
                                {% include "___user.html" %}
                                
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
