<section>
    <h1>Users</h1>
    <div class="rounded-sm overflow-hidden">
        <div class="d-flex flex-col">
            <div
                class="d-flex py-4 a-content-center p-content-center bg-c-charocoal:+3 text-c-body border-b-1 border-c-charocoal:+5">
                <div class="px-6 flex-1 text-w-medium">Name</div>
                <div class="px-6 flex-1 text-w-medium">Email</div>
                <div class="px-6 flex-1 text-w-medium">Role</div>
                <div class="px-6 flex-1 text-w-medium"></div>
            </div>
            <div id="users">
                {% for user in users %}
                <div id="u{{ user['user_pk'] }}" class="d-flex px-2 a-content-center p-content-center bg-c-charocoal:-9"
                    odd="bg-c-charocoal:-5">
                    <div class="py-1 pl-4 flex-1 text-c-body:-6 text-sm a-content-center">
                        {{ user["user_name"] }}
                    </div>
                    <div class="py-1 pl-6 flex-1 text-c-body:-6 text-sm a-content-center">
                        {{ user["user_email"] }}
                    </div>
                    <div class="py-1 pl-6 flex-1 text-c-body:-6 text-sm a-content-center">
                        {{ user["role_name"] }}
                    </div>
                    <div class="py-1 pl-6 flex-1 d-flex p-content-end">
                        {% if user["user_blocked_at"] == 0 %}
                            {% include "___btn_block_user.html" %}
                        {% else %}
                            {% include "___btn_unblock_user.html" %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

