<section>
    <h1>Users</h1>
    {% include "__admin_tabs.html" %}
    <div class="rounded-sm overflow-hidden">
        <div class="d-flex flex-col">
            <div
                class="d-flex py-4 a-content-center p-content-center bg-c-charocoal:+3 text-c-body border-b-1 border-c-charocoal:+5">
                <div class="px-6 flex-1 text-w-medium">Name</div>
                <div class="px-6 flex-1 text-w-medium">Email</div>
                <div class="px-6 flex-1 text-w-medium" i-sm="d-none">Role</div>
                <div class="px-6 flex-1 text-w-medium"></div>
            </div>
            <div id="users">
                {% for user in users %}
                    {% if user["role_name"] != "admin" %}
                        {% if active_secondary_tab == 'Customers' and user["role_name"] == "customer" %}
                            {% include "___user.html" %}

                        {% elif active_secondary_tab == 'Partners' and user["role_name"] == "partner" %}
                            {% include "___user.html" %}

                        {% elif active_secondary_tab == 'Restaurants' and user["role_name"] == "restaurant" %}
                            {% include "___user.html" %}
                            
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
