

<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="{{url_for('static', filename='js/mixhtml.js')}}"></script>
<script src="{{url_for('static', filename='js/mojo.js')}}"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% if request.endpoint == 'view_customer' and active_tab == 'explore' %}
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
{% endif %}

{% if request.endpoint == 'view_restaurant_items' or 'view_restaurant' %}
    <script src="{{url_for('static', filename='js/modal.js')}}"></script>
{% endif %}

{% if request.endpoint == 'view_profile' or 'view_restaurant' and active_tab == 'your_restaurant' %}
    <script src="{{url_for('static', filename='js/delete.js')}}"></script>
{% endif %}

{% if session.get('user') and 'customer' in session['user'].get('roles', []) %}
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endif %}

</body>
</html>