

<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="{{url_for('static', filename='js/mixhtml.js')}}"></script>
<script src="{{url_for('static', filename='js/mojo.js')}}"></script>

{% if request.endpoint == 'view_customer' and active_tab == 'explore' %}
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
{% endif %}

{% if request.endpoint == 'view_restaurant_items' or 'view_restaurant' %}
    <script src="{{url_for('static', filename='js/item.js')}}"></script>
{% endif %}

{% if request.endpoint == 'view_profile' or 'view_restaurant' and active_tab == 'your_restaurant' %}
    <script src="{{url_for('static', filename='js/delete.js')}}"></script>
{% endif %}

{% if request.endpoint == 'view_restaurant_items' %}
    <script src="{{url_for('static', filename='js/cart.js')}}"></script>

{% endif %}

</body>
</html>