

<script src="{{url_for('static', filename='app.js')}}"></script>
<script src="{{url_for('static', filename='mixhtml.js')}}"></script>

<script>
    mojo({
        base: {
            themes: {
                default: {
                    primary: "#009DE0",
                    secondary: "#E9F7FD",
                    grey1: "#F6F6F6",
                    grey2: "#EDEEEE",
                    grey3: "#E4E4E4",
                    grey4: "#717173",
                    
                }
            },
            fonts: {
                default: ["Nunito", "sans-serif"],
            },
        },
        patterns: {
            "main": {
                idle : "mx-8",
                xl : "mx-16"
            },
            "input": {
                idle : "border border-1 border-c-gray:+25 px-2 rounded-4 h-10 outline-none"
            },
            "button": {
                idle : "px-4 rounded-sm h-10 outline-none bg-c-primary text-c-white",
                hover : "bg-c-#1FA9E4 cursor-pointer"
            },
            "img": {
                idle : "max-w-100%"
            },
            "h1": {
                idle : "text-w-black text-250"
            },       
            },
        utilities: [
            {
                name: "light-btn",
                pattern: "bg-c-secondary text-c-primary"
            },
            {
                name: "rounded-btn",
                pattern: "rounded-full bg-c-secondary text-c-primary"
            },
            {
                name: "profile-btn",
                pattern: "bg-c-grey2 text-c-black rounded-full d-flex gap-2 j-content-center a-items-center pl-1"
            },
            {
                name: "tab-btn",
                pattern: "d-flex j-content-center a-items-center gap-2 px-4 founded-full text-c-grey4 cursor-pointer",
            },
            {
                name: "active",
                pattern: "bg-c-primary text-c-white rounded-full"
            },
            {
            name: "bg-customer-hero",
            pattern: "background-image: url('/static/img/customer_hero.jpeg'); background-size: cover; background-repeat: no-repeat;"
            },
        ]
        })
</script>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // Initialize the map
    var map = L.map('map').setView([55.6845, 12.564148], 12);

    // Add OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    function test(){
        var markerLocations = [
        { coords: [51.5, -0.09], popup: "Marker 1: London" },
        { coords: [48.8566, 2.3522], popup: "Marker 2: Paris" },
        { coords: [40.7128, -74.0060], popup: "Marker 3: New York" },
        { coords: [55.6845, 12.564148], popup: "Marker 4: Tokyo" }
        ];

        // Loop through the markerLocations array and add markers to the map
        markerLocations.forEach(function(location) {
            var marker = L.marker(location.coords).addTo(map);
            marker.bindPopup(location.popup);
        });
    }

    setTimeout(test, 3000)
    
</script>

</body>
</html>