<h2>Edit your profile </h2>
    <form id="updateProfileForm" class="mb-20">
        <div class="d-flex flex-col j-content-between gap-4">
            <div class="d-flex flex-col">
                {% if 'restaurant' in session['user'].get('roles', []) %}
                <label for="user_name">Restaurant name</label>
                {% else %}
                <label for="user_name">Name</label>
                {% endif %}
                <input class="pa-2" name="user_name" value="{{user.user_name}}" type="text" mix-check="{{ x.USER_NAME_REGEX }}">
            </div>
            <div class="d-flex flex-col {% if 'restaurant' in session['user'].get('roles', []) %} d-none {% endif %}">
                <label for="user_last_name">Last name</label>
                <input class="pa-2" name="user_last_name" value="{{user.user_last_name}}" type="text" mix-check="{{ x.USER_LAST_NAME_REGEX }}">
            </div>
            <div class="d-flex flex-col">
                <label for="user_email">Email</label>
                <input class="pa-2" name="user_email" value="{{user.user_email}}" type="email" mix-check="{{ x.REGEX_EMAIL }}">
            </div>
            <div class="d-flex flex-col">
                <label for="user_address">Address</label>
                <input class="pa-2" name="user_address" value="{{user.user_address}}" type="text" mix-check="{{ x.USER_ADDRESS_REGEX }}">
            </div>
            <button mix-put="{{ url_for('user_update', user_pk=user.user_pk) }}" mix-data="#updateProfileForm" mix-default="Save changes"
                mix-await="Saving.." class="w-100% mt-6"> 
                Save changes
            </button>
        </div>
    </form>
