<section>
    <h1 class="mb-8">Restaurants near me</h1>
    <h2 class="mb-4">All restaurants</h2>
    <div class="d-flex flex-col gap-10" md="d-grid cols-2 gap-4" xl="cols-3">
        {% for restaurant in restaurants %}
        <article class="w-70 d-flex flex-col j-content-between overflow-hidden w-100% bg-white rounded-6 shadow-sm ts-500" hover="cursor-pointer scale-101 ts-500">
            <a href="{{ url_for('view_restaurant_items', user_pk=restaurant['user_pk']) }}" class="restaurant-link w-100%">
                <div class="relative">
                    <img src="{{ url_for('static', filename='dishes/' + restaurant['user_avatar']) }}" 
                        alt="Restaurant picture" 
                        class="w-full h-250px obj-f-cover">
                </div>
                <div class="pa-2 px-6 d-flex flex-row j-content-between a-items-center border-b-2 border-c-grey3 border-s-dashed">
                    <div>
                        <h3 class="text-c-black mb-0">{{ restaurant["user_name"] }}</h3>
                        <p class="text-c-grey4 text-90 ma-0">{{ restaurant["user_address"] }}</p>
                    </div>
                    <div class="bg-c-secondary pa-2 px-4 rounded-4 text-c-primary text-w-semibold text-100 text-a-center">
                        <p class="ma-0">20 - 30</p>
                        <p class="ma-0">min.</p>
                    </div>
                </div>
                <div class="px-6 py-2 d-flex flex-row gap-2 a-items-center">
                    <img src="{{ url_for('static', filename='img/scooter.svg') }}" alt="" class="w-5">
                    <p class="text-c-primary text-w-semibold text-80 ma-0">DKK 19.00</p>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</section>





