<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mlf2qlo.css">
    <script src="https://unpkg.com/mojocss"></script>
    <title>
        {{ title or "Volt" }}
    </title>
</head>
<body class="w-full h-100vh text-c-gray:-16">
<header class="mb-10">   
    <nav class="d-flex flex-row j-content-between a-items-center px-8 py-4  border-b-1 border-c-grey2" sm="mb-6" xl="px-16">
        <div class="d-flex gap-5 a-items-baseline">
            <a href="{{ url_for('view_index')}}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="w-16">
            </a>
            <a href="{{ url_for('view_signup_partner')}}" class="text-c-black" i-sm="d-none" hover="text-c-grey4">Volt partner</a>
            <a href="{{ url_for('view_signup_restaurant')}}" class="text-c-black" i-sm="d-none" hover="text-c-grey4">restaurant</a>
        </div>
        <section class="d-flex gap-2">
            <form method="GET" action="{{url_for('view_signup')}}">
                <button class="light-btn" hover="bg-c-#D6EFFA"> 
                    Signup 
                </button>
            </form>
            <form method="GET" action="{{url_for('view_login')}}">
                <button> 
                    Login
                </button>
            </form>
        </section>
    </nav>
    <nav class="d-flex j-content-start gap-6 py-2 px-8  border-b-1 border-c-grey1" sm="d-none">
        <a href="{{ url_for('view_signup_partner')}}" class="text-c-black" hover="text-c-grey4">Volt partner</a>
        <a href="{{ url_for('view_signup_restaurant')}}" class="text-c-black" hover="text-c-grey4">restaurant</a>
    </nav>
</header>
    <div id="toast" class="d-flex flex-col j-content-center p-fixed w-full top-4 z-10"></div>