{% include "_top_logged.html" %}
<main class="mx-8" xl="mx-16">
    <section lg="max-w-900px mx-auto">
        <div class="d-flex flex-row j-content-between a-items-start" i-sm="mb-6">
            <h1 i-sm="text-lh-resp">Profile</h1>
            <form method="POST" action="{{url_for('logout')}}">
                <button class="light-btn" hover="bg-c-#D6EFFA">
                    Logout
                </button>
            </form>
        </div>
        {% include "__profile_tabs.html" %}

        {% if active_tab == 'profile' %}
            <div class="d-flex flex-row j-content-center a-items-center gap-16">
                <img src="{{ url_for('static', filename='avatars/' + session['user'].get('user_avatar')) }}" class="w-28 rounded-full shadow-lg " alt="profile picture">
                <div class="f-flex" >
                    <h2 class="text-200" i-sm="mb-6">{{ user["user_name"] }} {{ user["user_last_name"] }}</h2>
                    <div class="d-flex flex-row gap-16 a-items-center j-content-start" i-sm="flex-col a-items-start gap-4">
                        <div>
                            <h3>Email</h3>
                            <p>{{ user["user_email"] }}</p>
                        </div>
                        <div>
                            <h3>Email</h3>
                            <p>{{ user["user_email"] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% elif active_tab == 'edit' %}
            <div>
                <p>edit profile</p>
            </div>
        {% elif active_tab == 'delete' %}
            <h2 class="mb-10">Delete your Wolt account</h2>
            
                <button mix-get="users/delete/{{user['user_pk']}}" class="bg-c-red:+2 " hover="bg-c-red:+8">
                Delete account
                </button>
            </form>
        {% endif %}
    </section>
</main>
{% include "_bottom.html" %}
</body>
</html>