{% include "_top_logged.html" %}
<main>
    <form id="updateItemForm" class="rounded-6 bg-white shadow-sm ts-500" md="max-w-200 ma-auto" xl="max-w-150">
        {% if item.item_image %}
        <div class="p-relative">
            <img src="{{ url_for('static', filename='dishes/' + item.item_image) }}" 
                alt="Current Image" 
                class="w-full h-300px obj-f-cover mb-2 rounded-t-6" xl="h-200px">
            <div class="p-absolute w-full h-300px top-0 left-0 overlay z-10 p-relative" xl="h-200px">
                <h1 class="text-c-white p-absolute bottom-4 left-6">Edit item: "{{ item.item_title }}"</h1>
            </div>
            <input type="hidden" name="existing_item_image" value="{{ item.item_image }}">
        </div>
        {% endif %}  
        <div class="pa-6 d-flex flex-col j-content-between gap-4">
            <div class="d-flex flex-col">
                    <label class="text-100 text-w-semibold" for="item_image">Upload new image</label>
                    <input class="pa-2" name="item_image" type="file" required>
            </div>
            <div class="d-flex flex-col">
                    <label class="text-100 text-w-semibold" for="item_title">Edit title</label>
                    <input name="item_title" type="text" value="{{ item.item_title }}" mix-check="{{ x.ITEM_TITLE_REGEX }}">
            </div>
            <div class="d-flex flex-col">
                    <label class="text-100 text-w-semibold" for="item_price">Edit price</label>
                    <input name="item_price" type="number" value="{{ item.item_price }}" mix-check="{{ x.ITEM_PRICE_REGEX }}">
            </div>
            
            <button mix-put="{{ url_for('update_item', item_pk=item_pk) }}"  mix-data="#updateItemForm" class="w-100% mt-6"> 
                    Save changes
            </button>
        </div>
    </form>
</main>

{% include "_bottom.html" %}