{% include "_top.html" %}

<main class="d-flex min-h-80vh j-content-center a-items-center">
    <div id="resetPassword">
        <form id="updatePasswordForm" class="d-flex flex-col gap-4 mx-auto">
            <h1 class="text-200">Enter new password</h1>
            <div class="d-flex flex-col">
                <label for="user_password">
                    <span> Password</span>
                </label>
                <input name="user_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            </div>
            <button mix-post="/update-password/{{ password_reset_key }}" mix-data="#updatePasswordForm" mix-default="Save new password"
                mix-await="Saving..">
                Save new password
            </button>
        </form>
    </div>
</main>

{% include "_bottom.html" %}